/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  width: 720px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100px;
}

.hero-section {
  background-image: url("gorky-park.jpg");
  background-size: cover;
  height: 336px;
  color: white;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.hero-header {
  background-color: #1D3557;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 118px 0 0 0;
}

.hero-text {
  background-color: #457B9D;
  width: 412px;
  padding: 5px 25px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.activities-section {
  height: 333px;
  background-color: #F1FAEE;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  color: #1D3557
}

.art, .food, .sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 198px;
  margin-top: 30px;
}

.activities-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  object-fit: cover;
  cursor: pointer;
  transition: width 0.5s;
  transition: height 0.5s;
  transition: border-radius 0.2s;
}

.activities-photo:hover {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

#activities-header {
  font-weight: bold;
  margin: 16px 0 16px 0;
}

#activities-text {
  margin-top: 0;
}

.guide-section {
  width: 720px;
  height: 394px;
  background-color: white;
}

.guide-card {
  background-color: #A8DADC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 160px;
  width: 400px;
  height: 294px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px black;
}

#guide-photo {
  width: 180px;
  height: 249px;
  object-fit: cover;
  margin: 23px 9px 23px 11px;
  border-radius: 10px;
}

h3 {
  margin-top: 49px;
  font-weight: 700;
  font-size: 24px;
}
